* {
    border: 1px solid red;
}





/* OVERALL */

body {
    min-height: 100vh;
    background-color: #fffaf3;
    /* border: solid 20px #eeeeee; */

}

.container {
    max-width: 1400px; 
    margin: 0 auto;
}

.wrapper {

}

.video-wrapper iframe {

    width: 100%;
    height: 100%;
}

/* POSITIONING */

.top-links {
    position: relative;
    width: 100%;
}

.top-left,
.top-right {
    position: absolute;
}

.top-center {
    position: relative;
}

.top-left {
    left: 20px;
    top: 20px;
}

.top-right {
    top: 20px;
    right: 20px;
}

.top-center {
    top: 20px;
    text-align: center;
}


.bottom-links {
    position: absolute;
    width: 100%;
    bottom: 0px;
}


.bottom-left {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.bottom-center {
    position: relative;
    bottom: 20px;
    text-align: center;
}



.bottom-right {
    position: absolute;
    bottom: 20px;
    right: 20px;

}


/* Centering */

.centered {
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}


/* Centering DIV in Viewport */

.center {
    width: 60%;
    max-width: 600px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
   
}

/* Centering Image in Viewport */


.center-image {
    width: 100%;
    max-width: 700px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

/* Centering Vimeo Embed in Viewport */


/* Vimeo Embed */

