
/* Overall */

body {
    min-height: 100vh;
    background-color: #fffaf3;
    /* border: solid 20px #eeeeee; */

}





/* POSITIONING */

.top-links {
    position: relative;
    height: 100px;
    width: 100%;
    background-color: grey;
}

.top-left,
.top-right,
.bottom-left,
.bottom-right {
    position: absolute;
}

.top-center,
.bottom-center {
    position: relative;
}


.top-left {
    left: 20px;
    top: 20px;
}

.top-center {
    top: 20px;
    text-align: center;
 
}



.top-right {
    top: 20px;
    right: 20px;
}


/* Centering */

.center {
    width: 60%;
    max-width: 600px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
   
}

.center-image {
    width: 100%;
    max-width: 700px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}